body {
  margin: 0;
}

ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
  font-size: 20px;
}

li {
  float: left;
}

ul img {
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 80px 80px;
  text-decoration: none;
}

li a:hover {
  background-color: red;
}

.dropbtn {
  margin-left: 20px;
  display: block;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 80px 80px;
  text-decoration: none;
  z-index: 2;
}

.dropdown {
  position: relative;
  overflow: visible;
  position: relative;
  display: inline-block;
  z-index: 10;
}

.dropdown-content {
  margin-left: 20px;
  overflow: visible;
  display: none;
  position: static;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 10;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

ul input[type="text"] {
  float: right;
  padding: 6px;
  margin-top: 80px;
  margin-left: 100px;
  border: none;
  font-size: 17px;
}
.dash {
  display: inline;
  overflow: hidden;
}

.dash:hover {
  background-color: #333;
}

ul {
  overflow: hidden;
}

ul input[type="text"] {
  border: 1px solid #ccc;
}

.middlebar {
  text-align: center;
  font-size: 200%;
}

.editmovie {
  padding-left: 30%;
  margin-top: -17px;
}

.deletemovie {
  padding-left: 73%;
  margin-top: -12px;
}
.left {
  margin-left: 15%;
  font-size: 125%;
}

.left {
  width: 500px;
  clear: both;
}

.left input {
  width: 490px;
  clear: both;
}
.left select {
  width: 100%;
  clear: both;
}

.left input[type="submit"] {
  width: 50%;
  clear: both;
}

.right {
  display: block;
  margin-left: 60%;
  position: relative;
  margin-top: -28.35%;
  font-size: 125%;
}

.right {
  width: 500px;
  clear: both;
}

.right input {
  width: 490px;
  clear: both;
}
.right select {
  width: 100%;
  clear: both;
}

.right input[type="submit"] {
  width: 50%;
  clear: both;
}
